/* * {
  border: solid 2px red;
} */

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color:rgb(242, 240, 247);
}

.hidden {
  display: none!important;
}

.page-header {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid gray;
  background-image: url(../src/images/banner-design.png);
  background-size: cover;
  background-color: black;
}

.title-search {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  padding-left: 50px;
  margin-top: 2%;
  padding-top: 1%;
}

h1 {
  font-size: 80px;
  color: rgb(236, 235, 239);
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-family: 'Lobster Two', cursive;
}

.button-panel {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}

.home-view {
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.home-category-panel {
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
  border-radius: 4%;
}

.recipe-box {
  height: 60%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

h2, h3, h4 {
  text-align: center;
}

.homeViewTitle {
  font-family: 'Acme', sans-serif;
  font-family: 'Lobster Two', cursive;
  font-size: 300%;
}

.recipePageName {
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: 'Acme', sans-serif;
  font-family: 'Lobster Two', cursive;
}

.filter-panel {
  display: flex;
  height: 80%;
}

.selection-boxes {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.recipe-tile-grid {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.recipe-tile{
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: column;
}

.tile-image{
  height: 20%;
}

.saved-recipes {
  display: flex;
  height: 80%;
}

.ingredients-needed {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.recipe-page {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}